body{
    color:white;
    font-family:Zapf-Chancery, cursive, sans-serif;
    font-size: 150%;
    text-align:center;
    padding-top:25px;
    padding-bottom:30px; 
    margin-top: 320px;
    background-image: url('redbackground.jpg');
    background-size: 100%
}
#naveMenu ul{
    font-family:Zapf-Chancery, cursive, sans-serif;
    font-size: 150%;
    margin:0 auto;
    width:610px;
    list-style-type:none;
    text-align:center;
    background-color:#EDECE1;
    height: 40px;
    position:relative;
    padding-top:10px;
    margin-bottom: 5px;
}
#navMenu ul li{
    display:block;
    text-align:center;
    float:left;
}
#navMenu ul li a{
    text-decoration:none;
    padding:.005em 1em; 
    color:white;
    text-align:center;
    display:block;
}
#navMenu ul li a:hover{
    color:#C9C7B9;
    text-align:center;
}