body.Italian{font-family:"Zapf Chancery", "Monotype Corsiva", "Book Antiqua", sans-serif; text-align:center; background-image: url('../images/Italian.jpg'); background-size: 100%}
body.English{font-family:"Zapf Chancery", "Monotype Corsiva", "Book Antiqua", sans-serif; text-align:center; background-image: url('../images/AmericanBG.jpg'); background-size: 100%}
body.Japanese{font-family:"Zapf Chancery", "Monotype Corsiva", "Book Antiqua", sans-serif; text-align:center; background-image: url('../images/JapaneseBG.png'); background-size: 100%}
body.Spanish{font-family:"Zapf Chancery", "Monotype Corsiva", "Book Antiqua", sans-serif; text-align:center; background-image: url('../images/SpainBG.jpg'); background-size: 100%}
h1{font-weight:bold; font-size:250%}
h2{font-weight:bold; font-size:200%}
h3{font-weight:bold; font-size:175%}
h4{font-weight:bold; font-size:150%}
ul{list-style-position: inside}
li, p{font-family:"Book Antiqua", sans-serif; font-size:125%}
#navMenu ul{
    font-family: "Book Antiqua", sans-serif;
    font-size: 115%;
    margin:0 auto;
    width:610px;
    list-style-type:none;
    text-align:center;
    background-color: #000000;
    height: 40px;
    position:relative;
    padding-top:10px;
    margin-bottom: 5px;
}
#navMenu ul li{
    display:block;
    text-align:center;
    float:left;
}
#navMenu ul li a{
    text-decoration:none;
    padding:.005em 1em; 
    color:#EDECE1;
    text-align:center;
    display:inline-block;
}
#navMenu ul li a:hover{
    color:#C9C7B9;
    text-align:center;
}

#navMenu ul li > ul{
    display:none;
    font-size: 115%;
    padding:0px;
    position:relative;
    width:105px;
    top:100%;
    float:none;
    margin:0;
    background-color:black;
    border-top:none
}

#navMenu ul li li{

    display:block;
    font-size: 115%;
    padding:3px 0px 3px 5px;
    color:#EDECE1;
    cursor:pointer;
    text-align:center;
    background-color:black;
}
#navMenu ul li:hover > ul,
#navMenu ul li:active ul
{
    display:block;
    text-align:center;
    width:167px;
    color:#EDECE1;
    position:absolute
}

#navMenu ul li ul li a:hover
{
    color:#444444
}

#navMenu ul li ul li a{
    color:#EDECE1
}