body.Italian{font-family:"Zapf Chancery", "Monotype Corsiva", "Book Antiqua", sans-serif; text-align:center; background-image: url('../images/Italian.jpg'); background-size: 100%}
    /*http://think0.deviantart.com/art/Italy-Grunge-Flag-108956753*/
body.English{font-family:"Zapf Chancery", "Monotype Corsiva", "Book Antiqua", sans-serif; text-align:center; background-image: url('../images/AmericanBG.jpg'); background-size: 100%}
    /*http://wallpaper-kid.com/american-flag-powerpoint-background.htm*/
body.Japanese{font-family:"Zapf Chancery", "Monotype Corsiva", "Book Antiqua", sans-serif; text-align:center; background-image: url('../images/JapaneseBG.png'); background-size: 100%}
    /*http://think0.deviantart.com/art/Japan-Grunge-Flag-112127885*/
body.Spanish{font-family:"Zapf Chancery", "Monotype Corsiva", "Book Antiqua", sans-serif; text-align:center; background-image: url('../images/SpainBG.jpg'); background-size: 100%}
    /*http://think0.deviantart.com/art/Spain-Grunge-Flag-112653575*/
h1{font-weight:bold; font-size:250%}
h2{font-weight:bold; font-size:200%}
h3{font-weight:bold; font-size:175%}
h4{font-weight:bold; font-size:150%}
ul{list-style-position: inside}
li, p{font-family:"Book Antiqua", sans-serif; font-size:125%}
div.creativeCommons img{
    width:10%;
    height:3%;
}
#navMenu > ul{
    font-family: "Book Antiqua", sans-serif;
    font-size: 115%;
    margin:0 auto;
    width:610px;
    list-style-type:none;
    text-align:center;
    background-color: #000000;
    height:45px;
    position:relative;
    padding-top:10px;
    margin-bottom: 5px;
    z-index:1;
}
ul > li.active{
    display:block;
    text-align:center;
    float:left;
}
li.active > a{
    text-decoration:none;
    padding:.005em 1em; 
    color:#EDECE1;
    text-align:center;
    display:inline-block;
}
li.active > a:hover{
    color:#C9C7B9;
    text-align:center;
}

li.active > ul.dropdown{
    display:none;
    padding:0px;
    position:relative;
    width:120px;
    margin:0;
    background-color:black;
}

ul.dropdown > li{

    display:block;
    font-size:90%;
    padding:3px 0px 3px 5px;
    color:#EDECE1;
    width:200px;
    cursor:pointer;
    text-align:center;
    background-color:black;
}
li.active:hover > ul.dropdown,
li.active:active > ul.dropdown
{
    display:block;
    text-align:center;
    width:200px;
    color:#EDECE1;
    position:absolute
}

ul.dropdown > li > a:hover
{
    font-size:100%;
    color:#C9C7B9
}

ul.dropdown > li > a{
    font-size:100%;
    color:#EDECE1
}