body{
    color:#EDECE1;
    font-family:"Zapf Chancery", "Monotype Corsiva", "Book Antiqua", sans-serif;
    font-size: 115%;
    text-align:center;
    padding-top:15px;
    padding-bottom:30px;
    background-image: url('../images/redbackground.jpg');
    background-size: 100%;
    margin-top: 5px;
}
img{width:1250px; height:175px}
h1{
     color:#EDECE1;
     font-weight:bold;
     padding-right:250px;
     padding-left:250px;
 }
 h2{
     color: #000000;
     padding-right:250px;
     padding-left:250px;
 }
 h3{
    color: #000000;
    padding-right:250px;
    padding-left:250px;
 }
a{
     color:#EDECE1;
 }
p{
    font-family: "Book Antiqua", sans-serif;
    padding-right:250px;
    padding-left:250px;
}
#navMenu ul{
    font-family: "Book Antiqua", sans-serif;
    font-size: 115%;
    margin:0 auto;
    width:610px;
    list-style-type:none;
    text-align:center;
    background-color: #000000;
    height: 40px;
    position:relative;
    padding-top:10px;
    margin-bottom: 5px;
}
#navMenu ul li{
    display:block;
    text-align:center;
    float:left;
}
#navMenu ul li a{
    text-decoration:none;
    padding:.005em 1em; 
    color:#EDECE1;
    text-align:center;
    display:block;
}
#navMenu ul li a:hover{
    color:#C9C7B9;
    text-align:center;
}